/**
 * Tabs Stylesheet
 * For use with the Hybrid Tabs plugin
 *
 * @since 0.1
 */

/**
* Tabs
**************************************/
.ui-tabs {
	float: left;
	width: 600px;
	margin: 20px 20px 0;
	background: url(images/bg-post.png) repeat-y 0 0;
	}
#sidebar-video .ui-tabs, #sidebar-slideshow .ui-tabs {
	width: 340px;
	margin: 0;
	background: transparent;
	}

/* Tabs wrap */
.ui-tabs .ui-tabs-wrap {
	background: url(images/comments-bottom.png) no-repeat 0 bottom;
	}
#sidebar-slideshow .ui-tabs-wrap, #sidebar-video .ui-tabs-wrap {
	background-image: none;
	}

/* Tabs nav */
.ui-tabs-nav {
	overflow: hidden;
	margin: 0;
	padding-left: 20px;
	list-style: none;
	background: #fff url(images/ui-tabs-top.png) no-repeat 0 0;
	}
#sidebar-slideshow .ui-tabs-nav, #sidebar-video .ui-tabs-nav {
	margin: 0 0 20px;
	padding: 0;
	background: #181818 url(images/feature-sidebar-ui-nav.png) repeat-x;
	border-left: 1px solid #2a2a2a;
	height: 1%;
	}
.ui-tabs-nav li {
	float: left;
	margin: 1px 0 0 0;
	}
.ui-tabs-nav li a {
	float: left;
	padding: 16px 19px 15px 19px;
	font-size: 16px;
	color: #8f8f8f;
	border-bottom: 1px solid #e5e5e5;
	}
#sidebar-slideshow .ui-tabs nav li, #sidebar-video .ui-tabs nav li {
	margin: 0;
	}
#sidebar-slideshow .ui-tabs-nav li a, #sidebar-video .ui-tabs-nav li a {
	padding: 50px 40px 34px;
	border: none;
	border-right: 1px solid #2a2a2a;
	line-height: 24px;
	color: #fff;
	}
.ui-tabs-nav li.ui-tabs-selected a {
	background: #fff;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #fff;
	}
#sidebar-slideshow li.ui-tabs-selected a, #sidebar-video li.ui-tabs-selected a {
	background: url(images/ui-tabs-current.png) no-repeat center bottom;
	}

/* Tabs panel */
.ui-tabs-hide {
	display: none;
	}
.ui-tabs .ui-tabs-panel {
	clear: left;
	overflow: hidden;
	}
#sidebar-slideshow .ui-tabs-panel, #sidebar-video .ui-tabs-panel{
	background: transparent;
}

/* Lists in the tabs after singular posts. */
.ui-tabs .ui-tabs-panel ul.alignleft, .ui-tabs .ui-tabs-panel ul.alignright {
	width: 259px;
	margin: 0;
	padding: 35px 20px 38px;
	list-style: none;
	color: #c2c2c2;
	border-right: 1px dotted #e5e5e5;
	}
.ui-tabs .ui-tabs-panel ul.alignright {
	border: none;
	}
.ui-tabs-panel li {
	padding: 0 0 0 10px;
	font: normal normal normal 12px/20px Arial, Verdana, sans-serif;
	}
.ui-tabs-panel li a {
	color: #666;
	border-bottom: 1px dotted #e5e5e5;
	text-decoration: none;
	}
.ui-tabs-panel li a:hover {
	border-bottom: 1px dotted #c2c2c2;
	}

#sidebar-slideshow .ui-tabs-panel .hentry, #sidebar-video .ui-tabs-panel .hentry {
	width: 260px;
	margin: 20px 40px 0;
	padding: 0;
	border-bottom: 1px dotted #4b4b4b;
	background: transparent;
	}
#sidebar-slideshow .hentry img, #sidebar-video .hentry img {
	float: right;
	width: 100px;
	height: 75px;
	margin: 0 0 20px 20px;
	}
* html #sidebar-slideshow .hentry img, *html #sidebar-video .hentry img {
	margin: 0 0 0 20px;
	height: 1%; /* IE5-6 */
	}
*+html #sidebar-slideshow .hentry img, *+html #sidebar-video .hentry img {
	margin: 0 0 0 20px;
	display: inline-block; /* IE7not8 */
	}
#sidebar-slideshow .entry-title, #sidebar-video .entry-title {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 20px;
	}
#sidebar-slideshow .hentry .entry-title a, #sidebar-video .hentry .entry-title a {
	color: #fff;
	}
#sidebar-slideshow .byline, #sidebar-video .byline {
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 10px;
	line-height: 20px;
	color: #777;
	}